.place__like {
  width: 22px;
  height: 19px;
  margin-right: 30px;
  padding: 0;
  justify-self: end;
  background-color: transparent;
  background-image: url(../../../images/like.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: none;
  border-radius: 20%;
  outline: none;
}

.place__like:hover {
  opacity: 0.5;
}

.place__like:active {
  background-image: url(../../../images/like_active.svg);
  opacity: 1;
}

.place__like:focus {
  box-shadow:
    inset 0 0 5px rgba(0, 0, 0, 0.5),
    0 0 5px rgba(0, 0, 0, 0.5);
}
