.profile__edit-btn {
  align-self: center;
  width: 24px;
  height: 24px;
  margin-top: 6px;
  padding: 0;
  border: 1px solid #fff;
  outline: none;
  background-color: transparent;
  background-image: url(../../../images/edit-btn.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition: opacity 0.1s ease-in;
}

.profile__edit-btn:hover {
  opacity: 0.6;
}

.profile__edit-btn:active {
  opacity: 0.4;
}

.profile__edit-btn:focus {
  box-shadow:
    inset 0 0 10px rgba(255, 255, 255, 0.5),
    0 0 10px rgba(255, 255, 255, 0.5);
}
