.popup__btn {
  position: relative;
  width: 100%;
  min-height: 50px;
  margin-top: 18px;
  padding: 0;
  font-size: 18px;
  color: #fff;
  background-color: #000;
  border: none;
  border-radius: 2px;
  outline: none;
  transition: background-color 0.1s ease-in;
}

.popup__btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.popup__btn:active {
  background-color: rgba(0, 0, 0, 0.9);
}

.popup__btn:focus {
  box-shadow:
    0 0 15px 5px rgba(0, 0, 0, 0.5);
}

@media all and (max-width: 635px) {
  .popup__btn {
    min-height: 46px;
    margin-top: 15px;
    font-size: 14px;
  }
}
