.profile__add-btn {
  max-width: 150px;
  width: 100%;
  height: 50px;
  position: relative;
  border: 2px solid #fff;
  border-radius: 2px;
  background-color: transparent;
  outline: none;
  transition: opacity 0.1s ease-in;
}

.profile__add-btn::before,
.profile__add-btn::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
}

.profile__add-btn::before {
  width: 2px;
  height: 22px;
}

.profile__add-btn::after {
  width: 22px;
  height: 2px;
}

.profile__add-btn:hover {
  opacity: 0.6;
}

.profile__add-btn:active {
  opacity: 0.4;
}

.profile__add-btn:focus {
  box-shadow:
    inset 0 0 10px rgba(255, 255, 255, 0.5),
    0 0 10px rgba(255, 255, 255, 0.5);
}

@media all and (max-width: 635px) {
  .profile__add-btn {
    max-width: 282px;
  }

  .profile__add-btn::before {
    height: 16px;
  }

  .profile__add-btn::after {
    width: 16px;
  }
}
