.btn_type_close {
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  transition: opacity 0.1s ease-in;
}

.btn_type_close::before,
.btn_type_close::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 40px;
  background-color: #fff;
}

.btn_type_close::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.btn_type_close::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.btn_type_close:hover {
  opacity: 0.6;
}

.btn_type_close:active {
  opacity: 0.4;
}

.btn_type_close:focus {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

@media all and (max-width: 635px) {
  .btn_type_close {
    width: 26px;
    height: 26px;
  }

  .btn_type_close::before,
  .btn_type_close::after {
    width: 3px;
    height: 26px;
  }
}
